

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.input-range {
  margin-bottom: 3rem;
  margin: 2rem auto;
}
.textField {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
}