
.input-range {
  margin-bottom: 3rem;
  margin: 2rem auto;
}
.sliderWidth{
    width:50%;
}
.textField {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 50%;
}
.mainView {
padding-top: 2rem;
}

.fadeOut{
    opacity:0;
    transition: opacity 1s;
}
.fadeIn{
    opacity:1;
    transition: opacity 1.5s 1.5s;
}